$base-font-color: #111;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;


@mixin box-sizing-b($b) {
    box-sizing: $b;
    -webkit-box-sizing: $b;
    -moz-box-sizing: $b;
    -ms-box-sizing: $b;
}

@mixin wrapper-cancel-padding($outter-padding) {
    margin-left: -$outter-padding;
    margin-right: -$outter-padding;
    padding-left: $outter-padding;
    padding-right: $outter-padding;
}

* {
    @include box-sizing-b(border-box);
}
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $base-font-color;
    background-color: #ddd;
    font-size: $base-font-size;
}

%clearfix::before, %clearfix::after{
    content: "";
    display: table;
    clear: both;
}

$link-color: #e32d40;

a {
    text-decoration: none;
    color: $link-color;
    transition: all 0.15s linear;
    &:hover {
        // text-decoration: $link-color underline;
        color: #00e;
    }
}

$main-container-media-width: 650px;

.main-container {
    padding-left: 100px;
    padding-right: 100px;
    @media (max-width: $main-container-media-width) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.post-entry {
    padding-bottom: 40px;
}
i.mf-mid {
    padding-left: 5px;
    padding-right: 5px;
    &::before {
        content: "|";
        font-style: normal;
    }
}

@import "article.scss"