$search-panel-max-width: 700px;
@mixin mq-search {
    @media screen and (max-width: $search-panel-max-width) {
        @content;
    }
}
$search-panel-bradius: 8px;
#search-panel {
    top: 0px;
    left: 0;
    position: fixed;
    visibility: hidden;
    width: 100%;
    @include the-transition(all);
    z-index: $z-idx-search-panel;
    &.show {
        top: 100px;
        visibility: visible;
        @include mq-search() {
            top: 0px;
        }
    }
    @include mq-search(){
        top: -100px;
    }
}
.search-input-container {
    position: relative;
    @include shadow-base();
    > input {
        border-top-left-radius: $search-panel-bradius;
        border-top-right-radius: $search-panel-bradius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        outline: none;
        font-size: $base-font-size;
        padding: 20px;
        border: 0;
        margin: 0;
        @include mq-search() {
            border-radius: 0;
        }
    }
}
.search-inner {
    margin: 0 auto;
    max-width: $search-panel-max-width;
    background-color: #ddd;
    border-radius: $search-panel-bradius;
    @include mq-search() {
        border-radius: 0;
    }
}
ul#search-result {
    list-style: none;
    margin-top: 4px;
    background-color: #ddd;
    border-bottom-left-radius: $search-panel-bradius;
    border-bottom-right-radius: $search-panel-bradius;
    @include mq-search() {
        border-radius: 0;
    }
    > li {
        padding: 20px;
    }
}
#btn-clear-search {
    color: #777;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}